body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btnn{
    background-color: rgb(236, 232, 232);
}
.png{
    width: 60%;
    height: auto;
}
.car{
    width: 60%;
    height: auto;
}
.fonn{
    background-color: rgb(223, 221, 219);
    margin-left: 10%;
    width: 80%;
    height: auto;
}
.fon{
    width: 20%;
    height: auto;
    padding: 9% 0%;
}
.last{
    width: 85%;
    height: auto;
}